.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.intro {
  position: relative;
  text-align: center;
  margin: 0;
  }

@media (min-width: 1114px) {
  .introduction {
    display: flex;
    text-align: start;
    justify-content: flex-start;
  }

  body {
    background-image: url("../webroot/img/bg_header.png");
    background-repeat: no-repeat;
  }
}


// .introduction  {
//   background-image: url("/webroot/img/bg_header.png");
//   background-repeat: no-repeat;
// }
//
