.introduction {
  @include centered-max-width;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

}

.heading {
  color: $color-heading;
  font-size: 30px;
}

.pararaph {
  color: $color-description;
  font-size: 16px;
}

@media(min-width: 1114px) {
.heading {
  font-size: 36px;
  max-width: 546px;
}
.paragraph {
  font-size: 18px;
}
}

.intro {
  margin: 0;
  padding-block-end: 33px;
  }


@media (min-width: 1114px) {
  .introduction {
    display: flex;
    text-align: start;
    justify-content: flex-start;
  }
  .masthead {
    position: relative;
    background-image: url("../img/bg_header(2).png");
    background-repeat: no-repeat;
    background-position-x: calc(50vh - 11px);
    background-position-y: 0;
  }.section-heading {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-heading {
  max-width: 1114px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
