.introduction {
  @include centered-max-width;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  padding-block-start: 50px;
}

.heading {
  color: $color-heading;
  font-size: 30px;
}

.pararaph {
  color: $color-description;
  font-size: 16px;
}

@media(min-width: 1114px) {
.heading {
  font-size: 36px;
}
.paragraph {
  font-size: 18px;
}
}

.intro {
  margin: 0;
  padding-block-end: 33px;
  }


@media (min-width: 1114px) {
  .introduction {
    display: flex;
    text-align: start;
    justify-content: flex-start;
  }
  .masthead {
    background-image: url("../img/bg_header.png");
    background-repeat: no-repeat;

  }
}

