.section-feature-sports {
  position: relative;
  width: 360px;
  height: 409px;
  text-align: center;
  margin-left: 20px;
}


.latest-information {
  text-align: center;
  color: $color-description;
  padding-top: 57px;
  padding-bottom: 43px;
  margin: 0;
  font-size: 28px;
}

.information-site {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*.information-site-design {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-start: 20px;
}*/


.sport-tv {
  background-image: url(../img/logo_sports_tv.svg);
  background-repeat: no-repeat;
  flex-basis: 50%;
}

.sports {
  background-image: url(../img/logo_sports_channel.svg);
  background-repeat: no-repeat;
  background-size: contain;
  flex-basis: 50%;
}


.nbc-sports {
  background-image: url(../img/logo_nbc_sports.svg);
  background-repeat: no-repeat;
  flex-basis: 40%;
}

.design-tech {
  background-image: url(../img/logo_designer_technology.svg);
  background-repeat: no-repeat;
  background-size: contain;
  flex-basis: 40%;
}

.dn {
  background-image: url(../img/logo_designer_news.svg);
  background-repeat: no-repeat;
  background-position: right;
  flex-basis: 40%;
}

.sky-sports {
  background-image: url(../webroot/img/logo_sky_sports.svg);
  background-repeat: no-repeat;
  flex-basis: 100%;
}

@media (min-width: 1114px) {
  .icon {
    display: grid;
    grid-template-columns: repeat( 1fr);
    grid-row: 3;
    grid-column: 3;
  }

}
