.introduction {
  display: flex;
  flex-direction: column;
}

img {
  display: flex;
  align-content: flex-end;
}

@media (min-width: 360px) {
  body{
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media(min-width: 360px) {
  h1 , p{
    text-align: center;
  }
}
