.introduction {
    padding: 20px;
  }

.intro {
  text-align: center;
  margin: 0;
  }

.heading {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 30px;
}

.paragraph {
  padding-top: 33px;
  padding-bottom: 33px ;
}
